/* laptop */
@media screen and (max-width: 1366px) {

    /* bg landing */
    .bg-landing {
        height: 45vh;
    }


    /* profile */
    .profile {
        height: 30vh;
        width: 95%;
    }

    /* self information */
    .self-information,  .c-wrapper {
        width: 95%;
    }

    .list-border {
        height: 90vh;
    }

}

/* mobile */
@media screen and (max-width: 765px) {


    /* bg landing */
    .bg-landing {
        height: 40vh;
    }

    .header-profile {
        height: 75vh;
    }


    /* profile */
    .profile {
        height: fit-content;
        flex-direction: column;
        width: 95%;
        z-index: 111;
    }

    .container {
        margin-top: 5vh;
    }

    /* first profile */
    .firstprofile {
        border-right: none;
        flex-direction: column;
        width: 100%;
        align-items: center;
        border-bottom: 2px solid #878e9928;
    }

    /* profile img */
    .profile-img {
        position: relative;
        left: 0;
    }

    /* profile-left */
    .profile-right {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    /* thumbnail */
    .thumbnail {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 160px;
    }

    .profile-right h4 {
        font-size: 1.8rem;
    }


    /* social-share */
    .social-share {
        margin: 25px 0px;
    }

    .social-share a:hover {
        transform: none;
        box-shadow: none;
    }

    /* deatils */
    .details {
        flex-direction: column;
        margin-top: 30px;
        width: 100%;
        margin-left: 0;
    }

    .details ul {
        list-style: none;
        width: 100%;
        align-items: start;
    }

    .right-details {
        margin-left: 0;
    }

    .dob {
        margin-bottom: 20px;
    }

    .details ul li {
        width: 250px;
    }

    /* info btns */
    .info-btns {
        flex-direction: row;
        width: 100%;
        height: 60px;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 11;
        background-color: var(--sec-bg-);
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
        box-shadow: 0px 0px 10px #66656540;
        border-radius: 0;
    }

    .info-btns a {
        height: 70%;
        width: fit-content;
        margin-bottom: 0;
        padding: 0px 22px;
        font-size: 0.8rem;
        font-weight: 500;
    }

    .about-img img {
        width: 320px !important;
        height: 350px;
    }

    /* information  */
    .information {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .self-information {
        width: 95%;
    }

    /* about-content */

    .about-pg {
        padding: 20px;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .a-details {
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
    }

    .deatils-head {
        margin-top: 0;
    }

    .about-sen {
        margin-top: 15px;
    }

    .visit-profile {
        text-align: center !important;
        width: 100%;
    }

    .about-sen,
    .about-point {
        text-align: start;
    }

    .about-img img {
        width: 100%;
    }


    /* doing-bottom */

    .doing-bottom {
        margin-top: 50px;
    }

    .doing-work {
        flex-direction: column;
        justify-content: center;
    }

    .d-work {
        width: 100%;
    }

    .first-d-work {
        margin-bottom: 25px;
    }


    /* resume page */
    .quality-education {
        flex-direction: column;
    }

    .education-list {
        width: 100%;
        margin-top: 15px;
    }

    .list-border {
        display: none;
    }

    .secound-box {
        margin-top: 20px;
        margin-left: 0;
    }

    .edu-corner {
        padding: 35px;
        background-image: linear-gradient(145deg, #6a67ce, #fc636b);
    }

    .edu-corner:hover {
        background-image: linear-gradient(145deg, #6a67ce, #fc636b);
    }

    .hang-border::before {
        border-color: #F9004D !important;
    }

    .title-head {
        color: #ffffff !important;
    }

    .education-name {
        color: #ffffff;
    }

    .edu-sen {
        color: #ffffff;
    }

    /* contact links */
    .contact-links {
        height: 100px;
        width: 50px;
    }

    .links {
        font-size: 1.1rem;
    }



    /* skill section */
    .skill-container {
        flex-direction: column;
    }

    .skill-content {
        width: 100%;
    }



    /* footer */

    .footer-container {
        margin-bottom: 60px;
    }

    .footer {
        width: 100%;
        padding: 60px;
    }

    .first {
        font-size: 2rem;
    }


    /* work swiper */
    .swiper-slide {
        width: 100% !important;
    }

    .temple-name {
        opacity: 1;
        visibility: visible;
    }


    .landing-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }


    .res-content {
        margin-top: 20px !important;
    }

    .ele-deatils {
        width: 100% !important;
        height: 400px !important;
    }

    /* click top */
    .clk-jump {
        display: none;
    }

    /* contact page */
    .con-sen {
        width: 100%;
    }

    /* cursor */
    #cursor {
        display: none;
    }

    .c-wrapper {
        width: 95%;
    }

    .c-header {
        font-size: 1.2rem;
    }


    .c-img img {
        width: 100%;
        height: 600px;
    }

    .first {
        font-size: 1.5rem;
    }

    .brand-card-slide {
        margin: 0 20px;
    }

    .font-container  {
        padding: 25px 0;
    }

}