@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif;
    background-color: #ecf0f3;
}

/* bg landing */
.bg-landing {
    width: 100%;
    height: 35vh;
    position: relative;
    background: url(Asset/landing.jpg);
    background-size: cover;
    background-position: center;
}

/* content wrapper */
.content-wrapper {
    width: 100%;
    height: fit-content;
    background-color: #741a1a;
    display: flex;
    justify-content: center;
    position: relative;
}

/* container */
.container {
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    top: -100px;
}

/* profile */
.profile {
    width: 100%;
    height: 25vh;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    padding: 20px;
}

/* profile-content */
.profile-content {
    width: 50%;
    height: 100%;
    position: relative;
}

/* first profile */
.firstprofile {
    border-right: 2px solid #878e9928;
    display: flex;
}

/* thumbnail */
.thumbnail {
    width: 35%;
    height: 100%;
}

/* profile-img */
.profile-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    outline: 4px solid #fff;
    position: absolute;
    left: 15px;
    top: -70px;
    border-radius: 10px;
}

/* profile-left */
.profile-right {
    width: fit-content;
    height: 100%;
    margin-left: 20px;
}

.profile-right h4 {
    font-size: 2rem;
    color: #1e2125;
}

.profile-right span {
    color: #3c3e41;
    font-size: 0.9rem;
    font-weight: 500;
}

.name {
    font-size: 1.2rem;
    color: #3c3e41;
}

/* social-share */
.social-share {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.social-share a {
    text-decoration: none;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #3c3e4149;
    transition: .3s ease;
}


.social-share a:hover {
    background-image: linear-gradient(145deg, #6a67ce, #fc636b);
    transform: translateY(-10%);
    box-shadow: none;
}

.social-share a i {
    color: #1e2125;
    font-size: 1.2rem;
    transition: .4s ease;
}

.social-share a:hover i {
    color: #fff;
}


/* deatils */
.details {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.details ul {
    list-style: none;
    width: fit-contents;
}

.details ul li {
    font-size: 1.1rem;
    color: #3c3e41;
}

.details ul span {
    font-size: 0.9rem;
    color: #3c3e41;
}

.right-details {
    margin-left: 40px;
}

.firstli {
    margin-bottom: 20px;
}

/* self-information */
.self-information {
    width: 100%;
    height: 95vh;
    margin-top: 60px;
    position: relative;
}

/* info-btns */
.info-btns {
    width: 15%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    border-radius: 10px;
    background-color: #ffffff;
}

.info-btns a {
    width: 90%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: .3s;
    cursor: pointer;
}

.info-btns a:hover {
    background-color: #ff014f !important;
    color: #ffffff !important;
}

.resume,
.contact,
.work {
    color: #3c3e41;
}


.about {
    background-color: #ff014f;
    color: #ffffff;
}

/* information */
.information {
    width: 82%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
}

.info-pg {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
}

/* about page */
.about-pg {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: .4s linear;
    padding: 30px;
}

.about-content {
    width: 100%;
    height: fit-content;
    display: flex;
}

.about-img {
    height: fit-content;
    width: fit-content;
}

.about-img img {
    width: 350px;
    height: 450px;
    object-fit: cover;
}

.a-details {
    margin-left: 50px;
}

.visit-profile {
    color: #F9004D;
    letter-spacing: 2px;
    font-size: 0.9rem;
    font-weight: 400;
}

.deatils-head {
    margin-top: 5px;
    font-size: 2rem;
    color: #3c3e41;
}


.about-sen {
    margin-top: 10px;
    color: #3c3e41;
}

.about-point {
    margin-top: 15px;
}

.about-point ul {
    list-style: none;
}

.point-li {
    color: #3c3e41;
    margin-bottom: 8px;
    font-size: 1.1rem;
}


.fa-check {
    margin-right: 20px;
    font-size: 1rem;
    color: #F9004D;
}

/* download cv */
.download-cv {
    text-decoration: none;
}

.download-cv button {
    padding: 20px 35px;
    border: none;
    box-shadow: 5px 5px 20px #3c3e4149;
    border-radius: 5px;
    color: #F9004D;
    transition: .3s;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9rem;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    margin-top: 20px;
}

.download-cv button:hover {
    background-image: linear-gradient(145deg, #6a67ce, #fc636b);
    color: #ffffff;
    transform: translateY(-10%);
    box-shadow: none;

}

.doing-bottom {
    width: 100%;
    height: fit-content;
    margin-top: 25px;
}

.doing-head {
    text-align: center;
}

.doing-head h2 {
    font-size: 1.2rem;
    color: #1e2125;
}

.doing-work {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.d-work {
    width: 48%;
    height: fit-content;
    outline: 2px solid #878e9928;
    border-radius: 10px;
    padding: 32px 22px;
}

.d-i {
    text-align: center;
}

.d-i i {
    font-size: 4rem;
    color: #F9004D;
}

.inner-head {
    text-align: center;
    font-size: 1.3rem;
    color: #1e2125;
    margin: 20px 0px;
}

.inner-sen {
    font-size: 1.1rem;
    color: #3c3e41;
    text-align: center;
}




/* resume page */
.resume-pg {
    background-color: #ffffff;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    transition: .4s linear;
    padding: 30px;
}

.resume-head {
    width: 100%;
    height: fit-content;
    text-align: center;
    margin-bottom: 20px;
}

.resume-head-text {
    font-size: 1.8rem;
    color: #1e2125;
}

.quality-education {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.education-list {
    height: fit-content;
    width: 48%;
    position: relative;
    display: flex;
}

.list-border {
    height: 67vh;
    width: 5px;
    border-radius: 10px;
    background-color: #3c3e411b;
}

.education-details {
    height: fit-content;
    width: fit-content;
    margin-left: 30px;
    transition: 0.3s all;
}

.edu-corner {
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    padding: 60px 30px;
    border-radius: 10px;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    background-size: cover;
    transition: 0.3s all;
    position: relative;
}

.edu-corner:hover {
    background-image: linear-gradient(145deg, #6a67ce, #fc636b);
}

.edu-corner:hover .title-head {
    color: #ffffff !important;
}

.edu-corner:hover .education-name {
    color: #ffffff;
}

.edu-corner:hover .edu-sen {
    color: #ffffff;
}

.hang-border {
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: #3c3e411b;
    top: 60px;
    left: -30px;
}

.hang-border::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border: 5px solid #3c3e411b;
    padding: 1px;
    top: 50%;
    left: -13px;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: 0.3s all;
    z-index: 1;
}

.edu-corner:hover .hang-border::before {

    border-color: #F9004D;

}


.header-title {
    padding-bottom: 20px;
    border-bottom: 2px solid #3c3e410f;
}

.title-head {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 10px;
    color: #3c3e41;
    transition: 0.3s;
}

.education-name {
    font-size: 0.8rem;
    color: #3c3e41;
    transition: 0.3s;
}

.edu-sen {
    margin-top: 15px;
    color: #878e99;
    font-size: 0.9rem;
    transition: 0.3s;
}

.secound-box {
    margin-top: 35px;
}

/* work page */
.work-pg {
    background-color: darkkhaki;
    z-index: -2;
    position: absolute;
    top: 0;
    right: 0;
    transition: .4s linear;
}

/* contact pg */
.contact-pg {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #6a67ce;
    z-index: -3;
    transition: .4s linear;
}